.field {
  display: grid;
  grid-template-columns: 9ch 1fr;
  gap: var(--size-2);
  align-items: center;

  label {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

details .field {
  margin-left: 2ch;
  grid-template-columns: 9ch 1fr;
}
